* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}


/* Header */
.site-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(60, 60, 60);
}
.navbar {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: rgb(60, 60, 60); 
}

.nav-logo a img {
    width: 50px; 
    margin-left: 2rem;
}

.nav-items {
    position: absolute; 
    left: 50%; /* Starting at the exact middle */
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
}

.nav-items a {
    color: #EDEDED;
    text-decoration: none;
    margin: 0 4rem; /* Adjusted for equal spacing */
    font-size: 1rem;
    transition: color 0.5s ease;
}

.nav-items a:hover {
    color: rgb(251, 230, 169); /* Hover effect */
}

.nav-icons {
    display: flex;
    align-items: center;
    margin-right: 10rem; /* Adjusted to match the logo's margin */
}

.nav-icons a {
    margin: 0 1rem;
}

.nav-icons a img {
    width: 20px; /* Adjust as needed */
}

.nav-items.active {
    display: block;
    position: absolute;
    background: #3C3C3B; /* Match the navbar background */
    right: 0;
    left: 0;
    top: 100px; /* Height of the navbar */
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    display: none; /* This will make the button only appear in the mobile view */
}

.menu-toggle img {
    width: 20px;
}

/* Side Menu */
.menu-container {
    display: block; /* Changed from none to block */
    position: fixed;
    top: 0;
    right: -100%; /* Start off the screen to the right */
    height: 100%;
    width: 250px; /* Adjust width as needed */
    background: #EDEDED; /* Background color for the menu */
    z-index: 1000; /* Ensure it's above other content */
    padding-top: 60px; /* Adjust this value to create space for the close button */
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Optional: for better visibility */
    transition: right 0.2s;
}

.menu-container a {
    display: block;
    text-decoration: none;
    color: #3C3C3B;
    padding: 10px 0;
    /* Add more styles for your menu links here */
}

.close-menu {
    position: absolute; /* Position the close button absolutely within the .menu-container */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    border: none;
    background: none;
    padding: 20px; /* Add padding to make the button easier to tap on mobile */
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
    z-index: 1001; /* Ensure it's above the menu contents */
}


.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 500; /* Below the menu but above other content */
}

/* Search bar */

.search-bar-container {
    display: none; /* Hidden by default */
    width: 100%; /* Full width */
    position: absolute; /* Positioned absolutely within a relatively positioned parent */
    left: 0;
    z-index: 100; /* Below the navbar */
    box-sizing: border-box; /* Padding included in width */
    display: flex; /* Use flexbox to center children */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.search-bar-container input[type="text"] {
    width: 90%; /* Subtract double the padding amount */
    height: 40px; /* Adjust height as needed */
    margin: auto; /* Auto margins will center the input */
    display: block; /* Input is a block element to fill width of container */
    padding: 5px 10px; /* Inner padding within the input */
    border: 1px solid #ccc; /* Example border - style as needed */
    box-sizing: border-box; /* Padding included in width and height */
}

.hero {
    height: 830px;
    background-image: url(../img/texturas/texture.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items-section {
    height: 850px;
}

.top-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-info {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
}

.user-info {
    width: 80%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.section-title {
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.brand-title {
    width: fit-content;
    position: absolute;
}

.user-title {
    width: fit-content;
    position: absolute;
    transform: translateY(190%);
}

.user-img {
    width: fit-content;
    position: absolute;
    transform: translateY(-60%);

}

.user-img img {
    width: 150px;
    border-radius: 50%;
}

.carrusel-controls {
    width: fit-content;
    position: absolute;
    right: 0;
    margin-right: 12rem;
}

.carrusel-controls	button {
    height: 40px;
    width: 40px;
    border: 0;
}

.carrusel-controls button.disabled {
    opacity: 0.5; /* Hace que el botón parezca deshabilitado */
    cursor: default; /* Cambia el cursor para indicar que el botón no es clickeable */
    pointer-events: none; /* Evita que se puedan hacer clic en el botón */
}

.mid-section {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-left: 10em;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease; /* Suaviza la transición del carrusel */
}

.card-holder {
    flex: 0 0 calc(20% - 80px); /* Ajusta el tamaño para cinco elementos, considerando el margen */
    margin: 40px;
    max-width: 300px; /* Asegura que todos los elementos tengan el mismo ancho máximo */
    box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
    text-align: center;
}

.card-img {
    width: 100%; /* this will be the width of the card */
    overflow: hidden; /* ensures images don't spill out of the container */
}

.card-img:hover {
	transform: scale(1.05);
}

.card-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card-info {
    margin-top: 10px;
}

.bottom-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #3C3C3B;
    color: #EDEDED;
    text-align: center;
    border: none;
}

.view-all:hover {
    color: rgb(251, 230, 169);
    cursor: pointer;
}

/* Modo cuadrícula para el carrusel */
.grid-view {
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    transform: none !important; /* Anula cualquier transformación aplicada */
}

.grid-view .card-holder {
    flex: 0 0 calc(20% - 80px); /* Ajusta el tamaño para cinco elementos, considerando el margen */
    margin: 40px;
    max-width: 300px; /* Asegura que todos los elementos tengan el mismo ancho máximo */
    box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
    text-align: center;
}

/* Restablece las dimensiones para el modo carrusel al hacer clic en 'VER TODO' nuevamente */
.carousel-container:not(.grid-view) .card-holder {
    width: 100%;
}

.categorias {
    display: flex;
    justify-content: space-between;
    padding: 70px;
}

.button-categoria {
    position: relative; /* Posicionamiento relativo para posicionar el título */
    width: 30%; /* Ancho para 3 elementos con algo de espacio entre ellos */
}

.button-categoria img {
    width: 100%; /* Imagen ocupa todo el ancho del contenedor */
    display: block; /* Imagenes se muestran en bloque para evitar espacio extra debajo */
}

.h2-categoria {
    position: absolute; /* Posicionamiento absoluto respecto a su padre */
    bottom: 80px; /* Posición desde el fondo del contenedor */
    left: 50%; /* Centrado horizontal */
    transform: translateX(-50%); /* Centrado horizontal */
    background-color: #3C3C3B; /* Fondo negro para el título */
    color: #EDEDED; /* Texto en blanco */
    padding: 5px 10px; /* Relleno para el título */
}

.h2-categoria h2 {
    margin: 0; /* Eliminar márgenes por defecto del h2 */
    font-size: 2rem; /* Tamaño de fuente para el título */
}

.site-footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    font-family: 'Raleway', sans-serif;
    padding: 20px 0; /* Espaciado interior */
}
  
.footer-top-section,
.footer-bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; /* Espaciado horizontal */
    margin-top: 3em;
}

.footer-logo img {
    max-width: 300px; /* Ajusta esto al tamaño de tu logo */
}

.footer-newsletter {
    display: flex;
    margin-right: 6.5rem;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    border: none;
    width: 450px;
}

.footer-newsletter button {
    padding: 10px 20px;
    background-color: #555; /* Fondo del botón */
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-newsletter button:hover {
    color: rgb(251, 230, 169);
}

.footer-social-icons {
    display: flex;
    justify-content: center; /* Centra los íconos si hay espacio adicional */
}

.footer-social-icons .social-icon {
    text-decoration: none;
    color: #fff;
    margin-right: 1.5em; /* Espaciado entre íconos */
    font-size: 1.5em; /* Tamaño de los íconos */
}

.footer-social-icons .social-icon:hover {
    color: rgb(251, 230, 169);
}

.footer-social-icons .social-icon:last-child {
    margin-right: 0; /* No hay margen después del último ícono */
}

.footer-links {
    text-align: right;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px; /* Espaciado entre enlaces */
}

.footer-links a:hover {
    color: rgb(251, 230, 169);
}
  
.photo_gallery {
    display: flex; /* Use flexbox to layout the images */
    justify-content: space-between; /* Space them out evenly */
    align-items: center; /* Align them vertically */
    width: 99.vw; /* Set the width to the full viewport width */
    padding: 0; /* Remove padding if necessary */
    margin: 0; /* Remove margins if necessary */
    box-sizing: border-box; /* Include padding and borders in the element's size */
}


.photo_gallery img {
    flex: 1; /* Each image will take up equal space */
    width: calc(20% - 4px); /* Adjust the width to factor in the margins */
    height: calc(20vw - 4px); /* Make the height proportional to the width of the viewport */
    object-fit: contain; /* Ensures the whole image fits without being cropped */
    margin: 1px; /* Margin between images */
    image-rendering: high-quality; /* Attempt to improve the image quality in browsers that support this */
}
.contact-form {
    max-width: 600px; /* Limita el ancho máximo del formulario */
    margin: 40px auto; /* Centra el formulario horizontalmente y agrega un margen vertical */
    padding: 20px; /* Espaciado interno alrededor de los elementos del formulario */
    background-color: #f5f5f5; /* Un ligero fondo gris para destacar el formulario */
    border-radius: 8px; /* Bordes redondeados para un aspecto moderno */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
}

.contact-form label {
    display: block; /* Hace que cada etiqueta tenga su propia línea */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
    color: #333; /* Color oscuro para las etiquetas para mejorar la legibilidad */
    font-weight: bold; /* Hace que las etiquetas sean negritas */
}

.contact-form input,
.contact-form textarea {
    width: 100%; /* Asegura que los campos de entrada ocupen todo el ancho disponible */
    padding: 8px; /* Espaciado interno dentro de los campos de entrada */
    margin-bottom: 15px; /* Espacio entre cada campo */
    border: 1px solid #ccc; /* Borde sutil para los campos de entrada */
    border-radius: 4px; /* Bordes ligeramente redondeados para los campos de entrada */
}

.contact-form textarea {
    resize: vertical; /* Permite al usuario ajustar el tamaño vertical del textarea */
    height: 120px; /* Altura inicial del textarea */
}

.contact-form button.submit-button {
    width: 100%; /* El botón ocupa todo el ancho del formulario */
    padding: 10px 15px; /* Relleno cómodo para el botón */
    background-color: #3C3C3B; /* Color del botón que coincide con el tema del sitio */
    color: #fff; /* Texto blanco para contraste */
    border: none; /* Sin borde para el botón */
    border-radius: 4px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cursor de puntero para indicar que es clickeable */
    transition: background-color 0.3s; /* Transición suave para efectos de hover */
}

.contact-form button.submit-button:hover {
    background-color: #333; /* Cambio de color al pasar el ratón */
}

.text-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
}

.text-container ul {
    padding-left: 20px; /* Ajusta la indentación de la lista */
    margin-top: 10px; /* Espacio antes de iniciar la lista */
    margin-bottom: 10px; /* Espacio después de terminar la lista */
}

.text-container li {
    margin-bottom: 8px; /* Espacio entre los ítems de la lista */
    line-height: 1.5; /* Ajusta el espacio entre líneas para mejorar la legibilidad */
    list-style-type: disc; /* Estilo del marcador de lista */
}

/* Perfil */
.profile-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-section a {
    flex: 1;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.profile-section img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.products-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

.product-item {
    flex: 1;
    height: 200px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
}

/* Pedidos */
.orders-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.orders-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.order-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.order-details {
    margin-bottom: 20px;
}

.order-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.order-details p {
    margin-bottom: 5px;
    color: #666;
}

.order-products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.product {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
    color: #333;
}

/* Productos */
.products-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.products-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-img {
    flex: 0 0 100px;
    margin-right: 20px;
}

.product-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.product-info {
    flex: 1;
}

.product-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.product-info p {
    margin-bottom: 10px;
    color: #666;
}

.edit-button, .delete-button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #3C3C3B;
    color: #EDEDED;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .delete-button:hover {
    background-color: #333;
}

.products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.create-product-button {
    padding: 10px 15px;
    background-color: #3C3C3B;
    color: #EDEDED;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px; /* Add some margin to separate from h1 */
}

.create-product-button:hover {
    background-color: #333;
    color: rgb(251, 230, 169);
}


/* General styles for responsiveness */
/* General styles for responsiveness */
@media (max-width: 1400px) {
    .nav-items {
        display: none;
    }

    .nav-icons .menu-toggle {
        display: block;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-logo img {
        margin-left: 1rem;
    }

    .nav-icons {
        margin-right: 1rem;
    }

    .hero {
        height: 700px;
    }

    .mid-section {
        margin-left: 7em;
    }

    .card-holder {
        flex: 0 0 calc(25% - 40px);
    }

    .site-footer img {
        width: 200px;
    }

    .create-product-button {
        display: none; /* Ocultar el botón "Crea tu producto" en tablet */
    }
}

@media (max-width: 1024px) {
    .hero {
        height: 550px;
    }

    .mid-section {
        margin-left: 2em;
    }

    .card-holder {
        flex: 0 0 calc(33% - 40px);
    }

    .categorias {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .button-categoria {
        width: 80%;
        margin-bottom: 20px;
    }

    .h2-categoria {
        bottom: 20px;
    }

    .footer-newsletter {
        margin-right: 0;
    }

    .footer-newsletter input[type="email"] {
        width: 100%;
    }

    .footer-top-section,
    .footer-bottom-section {
        flex-direction: column;
        align-items: center;
        padding: 0;
        text-align: center;
    }

    .footer-links {
        margin-top: 20px;
    }

    .create-product-button {
        display: none; /* Ocultar el botón "Crea tu producto" en tablet */
    }
}

@media (max-width: 768px) and (pointer: coarse) {
    .hero {
        height: 450px;
    }

    .nav-icons {
        margin-right: 0.5rem;
    }

    .mid-section {
        margin-left: 1em;
    }

    .card-holder {
        flex: 0 0 calc(100% - 20px); /* Mostrar una tarjeta por fila */
        margin: 20px auto;
    }

    .carousel-container {
        justify-content: center; /* Centrar las tarjetas */
    }

    .footer-top-section,
    .footer-bottom-section {
        padding: 0 5%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-top-section {
        margin-top: 2em;
    }

    .footer-newsletter {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-newsletter input[type="email"] {
        width: 90%;
        margin-bottom: 10px;
    }

    .footer-links {
        margin-top: 10px;
    }

    .section-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .carrusel-controls {
        display: none; /* Ocultar controles del carrusel en dispositivos táctiles */
    }

    .carrusel-controls button {
        height: 30px;
        width: 30px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .view-all {
        display: none; /* Ocultar botones VER TODO en dispositivos táctiles */
    }

    /* Ajustes específicos para la página de camisetas */
    .items-section {
        height: auto;
        padding: 0 1em;
    }

    .hero {
        height: auto;
    }

    .hero-img img {
        height: auto;
        transform: translateY(0);
    }

    .section-title h1 {
        font-size: 1.5rem;
    }

    .create-product-button {
        display: none; /* Ocultar el botón "Crea tu producto" en móvil */
    }
}

@media (max-width: 480px) and (pointer: coarse) {
    .navbar {
        height: 80px;
        padding: 0.5rem;
    }

    .nav-logo img {
        width: 40px;
    }

    .nav-icons a img {
        width: 15px;
    }

    .menu-toggle img {
        width: 15px;
    }

    .hero {
        height: 350px;
    }

    .mid-section {
        margin-left: 0.5em;
    }

    .card-holder {
        flex: 0 0 100%;
        margin: 10px auto;
    }

    .carousel-container {
        justify-content: center; /* Centrar las tarjetas */
    }

    .footer-newsletter {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-newsletter input[type="email"] {
        width: 50%;
        margin-bottom: 10px;
    }

    .footer-social-icons {
        margin-top: 10px;
    }

    .footer-top-section,
    .footer-bottom-section {
        padding: 0 5%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-top-section {
        margin-top: 2em;
    }

    .footer-links {
        margin-top: 10px;
    }

    .section-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .carrusel-controls {
        display: none; /* Ocultar controles del carrusel en dispositivos táctiles */
    }

    .carrusel-controls button {
        height: 25px;
        width: 25px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .view-all {
        display: none; /* Ocultar botones VER TODO en dispositivos táctiles */
    }

    /* Ajustes específicos para la página de camisetas */
    .items-section {
        height: auto;
        padding: 0 0.5em;
    }

    .hero {
        height: auto;
    }

    .hero-img img {
        height: auto;
        transform: translateY(0);
    }

    .section-title h1 {
        font-size: 1.2rem;
    }

    .create-product-button {
        display: none; /* Ocultar el botón "Crea tu producto" en móvil */
    }

    /* Ajustes específicos para la página de productos */
    .products-container {
        padding: 0 1em;
    }

    .product-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-img {
        margin-bottom: 10px;
    }

    .product-info {
        width: 100%;
    }

    /* Ajustes específicos para la página de detalles */
    .product-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .vertical-carousel {
        display: none; /* Ocultar el carrusel vertical en móvil */
    }

    .product-image {
        width: 100%;
        margin-bottom: 10px;
    }

    .product-info-detalle {
        width: 100%;
    }

    .complete-the-look {
        padding: 10px 0;
    }

    .complete-the-look h2 {
        font-size: 1.2rem;
    }

    .related-products {
        flex-direction: column;
        align-items: center;
    }

    .card-holder {
        width: 80%;
        margin-bottom: 10px;
    }
}


/* Ensure images are not cut off */
.card-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}




/* Detalles del Producto */
.product-details {
    display: flex;
    justify-content: center; /* Centra horizontalmente .product-info dentro de .product-details */
    align-items: center; /* Centra verticalmente .product-info dentro de .product-details */
    margin-top: 40px;
    margin-left: 185px;
}

.product-info-detalle {
    flex: 1;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 230px; /* Aumenta el tamaño máximo para mayor visibilidad */
    display: flex;
    flex-direction: column; /* Organiza los elementos hijos en una columna */
    justify-content: center; /* Centra verticalmente los elementos dentro de .product-info */
    align-items: center; /* Centra horizontalmente los elementos dentro de .product-info */
}

.product-info-detalle h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-info-detalle p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-sizes {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.product-sizes button {
    padding: 5px 10px;
    border: 1px solid #333;
    background-color: #fff;
    cursor: pointer;
}

.product-sizes button:hover {
    background-color: #333;
    color: #fff;
}

/* Completa el Look */
.complete-the-look {
    margin-top: 40px;
    padding: 20px;
}

.complete-the-look h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.related-products {
    display: flex;
    gap: 20px;
}

.related-products .card-holder {
    flex: 1;
    max-width: 300px;
}

/* Productos Relacionados */
.related-products-carousel {
    margin-top: 40px;
    padding: 20px;
}

.related-products-carousel h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.product-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.product-carousel .card-holder {
    min-width: 200px;
    flex: 1;
}

.product-image {
    flex: 1;
    max-width: 400px;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-description {
    font-size: 1rem;
    line-height: 1.5;
}

.vertical-carousel {
    display: flex;
    padding-right: 30px;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Ajusta el ancho según sea necesario */
}

.carousel-container-detalle {
    position: relative;
    height: 330px; /* Ajusta la altura para mostrar 3 imágenes de 120px cada una */
    overflow: hidden; /* Asegura que las imágenes fuera de esta área se oculten */
}

.carousel-images {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease; /* Añade una transición suave */
}

.carousel-images img {
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Ajusta la altura según sea necesario */
    object-fit: cover;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.carousel-prev, .carousel-next {
    background-color: #3c3c3c;
    color: white;
    border: none;
    padding: 5px;
    margin:20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: #555;
}

